html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 60%;
    margin: 0 auto;
}

h1 {
    padding: 30px 10px 5px;
    border-radius: 15px;
    margin: 0 auto;
    color: rgb(70, 70, 70);
    padding: 20px;
    font-size: 40px;
    padding-top: 50px;
}

/*------------ Stora loggan och textfältet ------------*/
.info {
    font-size: 18px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(55, 55, 55);
    border: solid 2px;
}

#logo {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

/*------------ Navigerings meny ------------*/
nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: rgb(255, 65, 65);
    box-shadow: 2px 5px 5px rgb(106, 106, 106);
    padding-left: 25px;
    align-items: center;
    opacity: 85%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding: 15px;
    border-radius: 0 0 5px 5px;
}


nav a:not(:first-child):hover {
    /*Ändra bakgrundsfärg när musen finns över länkarna, förutom loggan*/
    color: black;
    background-color: white;
}


nav #logga {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    display: flex;
}

nav #logga img {
    width: 35px;
}

nav #activeNav {
    background-color: white;
    color: black;
}

/*Dropdown*/
#dropbtn {
    border: none;
    background-color: unset;
    font-size: 26px;
    cursor: pointer;
    padding: 15px;
    color: white;
}

#dropbtn:hover {
    color: black;
    background-color: white;
}

#dropdown {
    display: none;
    color: white;
    background-color: white;
    position: absolute;
    width: 70%;
    text-align: center;
    box-shadow: 2px 5px 5px rgb(106, 106, 106);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
}

#dropdown a {
    display: inline-block;
    padding: 20px 5px;
    text-decoration: none;
    color: black;
    width: 30%;
    font-size: 24px;
    margin: 0;
}

#dropdown a:first-child,
#dropdown a:last-child {
    border-right: gray 1px solid;
    border-left: gray 1px solid;
}

#dropdown a:hover {
    /*Ändra bakgrundsfärg när musen finns över länkarna, förutom loggan*/
    color: white;
    background-color: rgba(255, 65, 65, 0.725);
}

#dropdown a img {
    margin-left: 10px;
    width: 30px;
}

/*------------------------------------------*/

/*------------ Knappar på startsidan ------------*/
#startButtons {
    text-align: center;
    margin-bottom: 20px;
}

#startButtons div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#startButtons h2 {
    margin-bottom: 5px;
}

#startButtons a {
    margin: 0 8px;
    background-color: rgb(255, 65, 65);
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    border: rgb(255, 255, 255) solid 1px;
    display: flex;
    align-items: center;
    height: 35px;
}

#startButtons #nearStart {
    width: 90px;
    margin: 10px auto;
}

#startButtons a:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
}

#startButtons a p {
    margin: 0;
}

#startButtons a img {
    height: 35px;
    margin-left: 10px;
}

/*------------------------------------------*/

/*----------------- Karta -------------------*/
#map {
    margin: 5px auto 0px;
    height: 400px;
    width: 100%;
    color: red;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

#mapSma {
    margin: 5px auto 0px;
    /*Ändra inte för att hela småland ska kunna visas*/
    height: 650px;
    width: 100%;
    border-radius: 10px;
}

#mapInfo{
    margin: 5px auto 0px;
    height: 400px;
    width: 100%;
    color: red;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

#placeDesc {
    margin-bottom: 20px;
}

#placeDesc>div {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(55, 55, 55);
}

#placeDesc div h2 {
    margin-bottom: 0;
}

#placeDesc .PushIn {
    display: inline;
}

#placeDesc .PushIn p {
    display: inline;
    margin: 5px 5px 5px 0px;
}

#placeDesc a {
    display: block;
    margin-top: 10px;
}

/*------------------------------------------*/