html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 60%;
    margin: 0 auto;
}
/*------------ H-taggar ------------*/
hgroup{
    padding: 25px 0px 10px 0px;
    color: rgb(70, 70, 70);
}
hgroup h1{
    padding: 0; 	
    font-size: 32px;
}
hgroup p{
    border-bottom: gray solid 2px;
    font-size: 18px;
    margin-top: 5px;
}

hgroup #startTitle{
    border-bottom: gray solid 2px;
}
hgroup h1 img {
    height: 24px;
}
/*------------------------------------------*/

/*------------ Slide Meny ------------*/
#toggleNav .slide {
    display: none;
}

#toggleNav #checkboxLines {
    display: none;
}
#toggleNav .slide{
    overflow-y: auto;
}
/*------------------------------------------*/

/*------------ Stora loggan och textfältet ------------*/
.info {
    padding: 20px;
    border-radius: 20px;
    color: rgb(55, 55, 55);
    box-shadow: 2px 2px 1px;
    border: solid 5px rgba(183, 183, 183, 0.3);
}
.info h2{
    font-size: 18px;

}

#logo {
    display: block;
    margin: 0 auto;
    width: 315px;
    padding-top: 20px;
    margin-bottom: 5px;
}
/*------------------------------------------*/

/*------------ Navigerings meny ------------*/
nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: rgb(255, 65, 65);
    box-shadow: 2px 2px 5px rgb(106, 106, 106);
    padding-left: 25px;
    align-items: center;
    opacity: 85%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 15px;
    border-radius: 0 0 5px 5px;
}


nav a:not(:first-child):hover {
    /*Ändra bakgrundsfärg när musen finns över länkarna, förutom loggan*/
    color: black;
    background-color: white;
}


nav #logga {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    display: flex;
}

nav #logga img {
    width: 30px;
}

nav #activeNav {
    background-color: white;
    color: black;
}
/*------------------------------------------*/

/*------------ Knappar på startsidan ------------*/
#startButtons #startNear{
    display: none;
}
#startButtons {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#startButtons div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#startButtons h2 {
    margin-bottom: 5px;
} 

#startButtons a {
    margin: 0 8px;
    background-color: rgb(255, 65, 65);
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    border: rgb(255, 255, 255) solid 1px;
    display: flex;
    align-items: center;
    height: 35px;
}

#startButtons a:hover {
    background-color: white;
    color: black;
    border: black solid 1px;
}

#startButtons a p {
    margin: 0;
}

#startButtons a img {
    height: 35px;
    margin-right: 10px;
}

/*------------------------------------------*/

/*----------------- Karta -------------------*/
#map {
    margin: 5px auto 0px;
    height: 750px;
    width: 75%;
    color: red;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

#mapSma {
    margin: 5px auto 0px;
    /*Ändra inte för att hela småland ska kunna visas*/
    height: 750px;
    width: 75%;
    border-radius: 10px;
}

#mapInfo {
    margin: 5px auto 0px;
    height: 400px;
    width: 100%;
    color: red;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}
/*------------------------------------------*/

/*----------------- Informationssida -----------------*/
#placeDesc {
    margin-bottom: 20px;
}
#placeDesc img{
    height: 16px;
}

#placeDesc>div {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(55, 55, 55);
}

#placeDesc div h2 {
    margin-bottom: 0;
}

#placeDesc .PushIn {
    display: inline;
}

#placeDesc .PushIn p {
    display: inline;
    margin: 5px 5px 5px 0px;
}
#placeDesc a {
    display: inline;
    margin-top: 10px;
}
#placeDesc a:visited{
    color: #0066cc;
}
#placeDesc a:hover{
    color: #00386f;
}
#placeDesc span{
    font-weight: bold;
}
#otherInfo p{
    margin-bottom: 5px;
}
#otherInfo p:last-of-type{
    margin: 0;
}

/*------------------------------------------*/

/*------------ Till slumpgeneratorn ------------*/
#activiti {
    font-size: 50px;
    padding: 20px;
    text-decoration: underline;
    text-align: center;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#random {
    text-align: center;
}

#generateButton {
    margin: 0 8px;
    background-color: rgb(255, 65, 65);
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    height: 80px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#generateButton:hover,#generateButton:active {
    background-color: white;
    color: black;
}

#generateButton img{
    margin: 10px;
    width: 30px;
}

#randomInfo {
    font-size: 23px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(55, 55, 55);
    box-shadow: 2px 2px 1px;
    border: solid 2px;
    text-align: center;
}


/*------------------------------------------*/

/*------------Filter Systemet--------------*/
#filterParent{
    width: 280px;
}
#filter-system {
    position: relative;
    margin-top: 5px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    margin-right: 10px;
    height: 630px;
    overflow: auto;
}
#filter-system label{
    font-size: 18px;
}
#filter-system input{
    height: 20px;
}
#filter-system img{
    width: 17px;
}
#filter-system h3{
    font-size: 18px;
    font-weight: bold;
    border-bottom: black solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#filterH2{
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
}
#reset {
    cursor: pointer;
    margin: 10px 0;
    background-color: rgb(255, 254, 251);
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    border: black solid 1px;
    border-radius: 5px;
    margin-right: 10px;
}
#reset:hover{
    background-color: rgb(225, 225, 224);
}
/*------------------------------------------*/

/*------------ Lista ------------*/
.plats .infoList{
    display: inline-block;
    padding: 0;
}
.infoList span{
    font-weight: bold;
}
.infoList p{
    margin: 10px;
}
.infoList img{
    width: 18px;
    height: 18px;
}
.parentDiv{
    display: flex;
    background-color: rgb(240, 240, 240);
    border-right: gray solid 2px;
}
.parentDiv:not(:last-of-type){
    border-bottom: black solid 1px;
}
.parentDiv:hover{
    background-color: rgb(187, 187, 187);
}
.plats{
    text-decoration: none;
    color: black;
    width: 95%;
}
.plats div{
    padding: 14px 10px 5px;
}
.favorite{
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorite img{
    cursor: pointer;
    height: 26px;
    margin-right: 5px;
}
#results{
    width: 75%;
    overflow: auto;
    height: 750px;
    border: gray solid 2px;
}
#results_favorites{
    width: 100%;
    overflow: auto;
    height: 75vh;
    border: gray solid 2px;
}
#error{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 34, 34);
}
#listPush{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
/*------------------------------------------*/